<%- include('./partials/header')%>
  <%- include('./partials/homeNavbar')%>

    <body>
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Bem-vindo</h1>
          <p class="lead text-danger">Sistema de estoque em fase teste</p>
        </div>
      </div>
      <div class="container">
        <div class="tableLocal">
          <table class="table table-hover table table-bordered">
            <thead>
              <tr>
                <th scope="col">Colaborador</th>
                <th scope="col">Função</th>
                <th scope="col">Posto</th>
                <th scope="col">Setor</th>
                <th scope="col">Patrimônios</th>
              </tr>
            </thead>
            <tbody>
              <% employess.forEach( item=> {%>
                <tr>
                  <td>
                    <%= item.nome%>
                  </td>
                  <td>
                    <%= item.funcao%>
                  </td>
                  <td>
                    <%= item.posto%>
                  </td>
                  <td>
                    <%= item.setor%>
                  </td>
                  <td class="d-flex justify-content-center">
                    <a class="btn btn-secondary" href="/patrimonios/all/<%= item.id%>">Detalhes</a>
                  </td>
                </tr>
                <%})%>
            </tbody>
          </table>
        </div>
      </div>
    </body>

    <%- include('./partials/footer')%>